@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* UC */
.btn {
  width: 112px;
  height: 38px;
  background-color: #ff4820;
  font-family: inherit;
  font-weight: 600;
  color: #f3f3f3;
  border: none;
  border-radius: 3px;
  margin-left: 5px;
}
.btn.secondary {
  background-color: transparent;
}
/* nav section */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #002853, #040c18);
  background-repeat: no-repeat;
  background-position: absolute;
  font-family: "Manrope", sans-serif;
}
.container_pd_nav {
  padding: 15px 5rem;
}
.container_pd {
  padding: 45px 5rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}
.navlist_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  margin-top: 2rem;
}
.navlist_logo .GPT-3 img {
  width: 3rem;
  margin-right: 2rem;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  list-style: none;
}
nav ul .navlist li a {
  text-decoration: none;
  font-size: 0.6rem;
}
/******Hero Section******/
.hero_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: max-content;
}
.hero_section h1 {
  font-size: 3rem;
  margin-top: -8rem;
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.hero_img img {
  width: 650px;
  height: 650px;
  margin-top: -35px;
}
.hero_section p {
  color: #81afdd;
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  line-height: 1.5rem;
}
form {
  display: flex;
  width: 350px;
  margin-top: 1rem;
}
.hero_form input {
  flex: 1;
  opacity: 10%;
  height: 30px;
}
.hero_form_reviews .hero_form button {
  background-color: #ff4820;
  width: 100px;
  height: 34px;
  margin-top: 1px;
}
.review_img_details {
  display: flex;
  margin-top: 20px;
  gap: 0.5rem;
}
.review_img_details img {
  width: 120px;
}
.review_img_details span {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 0.7rem;
  font-weight: 200;
  margin-top: 6px;
}
/******sponsors*****/
.sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.sponsors img {
  width: 100px;
}
/*****.gpt3_possibilities*****/
.gpt3_possibilities_container {
  margin-top: 4rem;
  font-family: inherit;
}
.gpt3_possibilities {
  padding: 6rem;
  margin: 6rem;
  background-color: #0F4279;
  background-color: radial-gradient(#0F4279 90%, #1B78DE);
}
.gpt3_possibilities_what_is {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  margin-top: -2rem;
}
.gpt3_possibilities_what_is h3{
  color: #ffffff;
}
.what_is_gpt3_details{
  color: #81AFDD;
  font-weight: 500;
  line-height: 1.5rem;
}
.gpt3_possibilities_CTA {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.gpt3_possibilities_CTA h2{
  width: 35%;
  font-weight: 800;
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; 
}
.gpt3_possibilities_CTA small{
 color: #FF8A71;
}
.gpt3_possibilities_boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gpt3_possibilities_container .line {
  height: 2px;
  background: linear-gradient(to right, #ae67fa, #f49867);
  width: 25px;
  margin-bottom: 0.9rem;
}
.gpt3_possibilities_boxes h3{
  color: #FFFFFF;
  font-weight: 800;
}
.gpt3_possibilities_boxes p{
  color: #81AFDD;
  margin-top: 2rem;
}
/******the_future*****/
.the_future{
  display: flex;
}
.the_future .the_future_list{
  display: flex;
  flex-direction: column;
}