@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/******************UC_button********************/
.btn {
  width: 112px;
  height: 38px;
  background-color: #ff4820;
  font-family: inherit;
  font-weight: 600;
  color: #f3f3f3;
  border: none;
  border-radius: 3px;
  margin-left: 5px;
}
.btn.secondary {
  background-color: transparent;
}
/****************nav section********************/
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #002853, #040c18);
  background-repeat: no-repeat;
  background-position: absolute;
  font-family: "Manrope", sans-serif;
}
.container_pd_nav {
  padding: 15px 5rem;
}
.container_pd {
  padding: 45px 5rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}
.navlist_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  margin-top: 2rem;
}
.navlist_logo .GPT-3 img {
  width: 3rem;
  margin-right: 2rem;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  list-style: none;
}
nav ul .navlist li a {
  text-decoration: none;
  font-size: 0.6rem;
}
/******************Hero Section******************/
.hero_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: max-content;
}
.hero_section h1 {
  font-size: 3rem;
  margin-top: -8rem;
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.hero_img img {
  width: 650px;
  height: 650px;
  margin-top: -35px;
}
.hero_section p {
  color: #81afdd;
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  line-height: 1.5rem;
  margin-top: 0.7rem;
}
form {
  display: flex;
  width: 350px;
  margin-top: 1rem;
}
.hero_form input {
  flex: 1;
  opacity: 10%;
  height: 30px;
}
.hero_form_reviews .hero_form button {
  background-color: #ff4820;
  border: none;
  border-radius: 2px;
  width: 100px;
  height: 29px;
  margin-top: 0.5px;
}
.review_img_details {
  display: flex;
  margin-top: 20px;
  gap: 0.5rem;
}
.review_img_details img {
  width: 120px;
}
.review_img_details span {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 0.7rem;
  font-weight: 200;
  margin-top: 6px;
}
/**********************sponsors*************************/
.sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.sponsors img {
  width: 100px;
}
/*****************gpt3_possibilities*******************/
.gpt3_possibilities_container {
  margin-top: 4rem;
  font-family: inherit;
}
.gpt3_possibilities {
  padding: 6rem;
  margin: 6rem;
  background-color: #0f4279;
  background-color: radial-gradient(#0f4279 90%, #1b78de);
}
.gpt3_possibilities_what_is {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  margin-top: -2rem;
}
.gpt3_possibilities_what_is h3 {
  color: #ffffff;
}
.what_is_gpt3_details {
  color: #81afdd;
  font-weight: 500;
  line-height: 1.5rem;
}
.gpt3_possibilities_CTA {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.gpt3_possibilities_CTA h2 {
  width: 35%;
  font-weight: 700;
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.gpt3_possibilities_CTA small {
  color: #ff8a71;
}
.gpt3_possibilities_boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gpt3_possibilities_container .line {
  height: 2px;
  background: linear-gradient(to right, #ae67fa, #f49867);
  width: 25px;
  margin-bottom: 0.9rem;
}
.gpt3_possibilities_boxes h3 {
  color: #ffffff;
  font-weight: 700;
}
.gpt3_possibilities_boxes p {
  color: #81afdd;
  margin-top: 2rem;
}
/***********************future*************************/
.future {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}
.future_CTA {
  margin-bottom: 6rem;
}
.future_CTA h3 {
  width: 370px;
  font-family: inherit;
  font-weight: 800;
  font-size: 2rem;
  font-style: normal;
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 1.5rem;
}
.future_CTA small {
  color: #ff8a71;
}
.future_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.future_flex_list .list_heading {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6rem;
}
.future_flex_list .line {
  height: 2px;
  background: linear-gradient(to right, #ae67fa, #f49867);
  width: 25px;
}
.future_flex_list .list_heading h4 {
  color: #ffffff;
  line-height: 24px;
  width: 140px;
  margin-bottom: 2rem;
}
.future_flex_list .list_heading p {
  color: #81afdd;
  width: 370px;
  margin-bottom: 2rem;
  align-items: start;
}
/********************My apps********************/
.my_apps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.my_apps .app_image img {
  width: 500px;
  height: 500px;
}
.my_apps_details {
  line-height: 2rem;
  margin-top: 8rem;
}
.my_apps_details p {
  color: rgba(113, 229, 255, 1);
  font-size: 0.7rem;
}
.my_apps_details h4 {
  width: 350px;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.my_apps_details small {
  color: rgba(129, 175, 221, 1);
  display: block;
  width: 390px;
  line-height: 1.6rem;
  margin-top: 1.4rem;
}
.my_apps_details span {
  color: rgba(255, 138, 113, 1);
  font-size: 0.7rem;
}
/***************request********************/
.request {
  display: flex;
  align-items: start;
  justify-content: space-between;
  background: linear-gradient(to right, #ae67fa, #f49867);
  border: none;
  border-radius: 5px;
  padding: 3rem;
  margin: 6rem;
  font-family: inherit;
}
.request_details p {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
}
.btnn {
  color: #ffffff;
  background-color: black;
  width: 150px;
  padding: 1rem;
  border: none;
  border-radius: 1.5rem;
  text-align: center;
}
/*********grid**********/
.grid_details h3{
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: inherit;
  font-size: 3rem;
  font-weight: 800;
  width: 900px;
  height: 200px;
  margin-bottom: 1rem;
}
.grid_box{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-gap: 2em;
}
.grid_box .box1{
  grid-row: 1/3;
}
.grid_box img {
  width: 100%;
  height: 100%;
}
/***************/
.footer {
  padding: 5rem;
  background-color: rgba(3, 27, 52, 1);
}
.footer_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "gilroy" , sans-serif;
}
.footer_details h3 {
  background: linear-gradient(to right, #ae67fa, #f49867);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.footer_btn button {
  border: 1px solid#ffffff;
  background-color: transparent;
  color: #ffffff;
  padding: 8px;
  margin-bottom: 5rem;
}
.footer_copyright_lists {
  display: flex;
  align-items: start;
  justify-content: center;
  font-family: "gilroy" , sans-serif;
  margin-right: 9rem;
  gap: 12rem;
}
.footer_copyright p {
  color: #ffffff;
  font-family: inherit;
  font-size: 0.8rem;
  margin-top: 3px;
}
.footer_lists {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 9rem;
  color: #ffffff;
}
.footer_lists h4 {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.footer_lists li {
  list-style: none;
  font-size: 0.7rem;
  line-height: 1.6rem;
}
.footer_copy{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 4rem;
}
